<!DOCTYPE html>
<html>

<head>
  <link rel="preload" href="style.css" as="style">
  <link rel="preload" href="fzf.js" as="script">
  <link rel="preload" href="qr-scanner.umd.min.js" as="script">
  <link rel="preload" href="qr-scanner-worker.min.js" as="script">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="style.css" rel="stylesheet">
  <script src="fzf.js"></script>
  <script src="qr-scanner.umd.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const entries = {
        {% for comment in comments %}
        "{{ comment.name | cescape }}": { last_price: {{comment.last_price}}, count: {{comment.count}}, last_timestamp: {{comment.last_timestamp}} },
        {% endfor %}
      };
      const f = new fzf.Fzf(Object.keys(entries), {
        casing: "case-insensitive",
        limit: 5,
        tiebreakers: [
          // -1 = choose A
          //  1 = choose B
          ((a, b) => entries[b.item].count - entries[a.item].count),
          ((a, b) => (b.start == 0) - (a.start == 0)),
          ((a, b) => entries[b.item].last_timestamp - entries[a.item].last_timestamp),
          fzf.byStartAsc,
        ]
      });
      const video = document.getElementById('video');
      const usersel = document.getElementById('username');
      const ofd = document.getElementById('ofd');
      const icom24 = document.getElementById('icom24-form');
      const custom = document.getElementById('custom-form');
      const customTo = document.getElementById('custom-to');
      const customSum = document.getElementById('custom-sum');
      const customSum1 = document.getElementById('custom-sum1');
      const customComment = document.getElementById('custom-comment');
      const customCommentList = document.getElementById('custom-comment-list');
      let done = false;
      let username = null;
      for (const cookie of document.cookie.split('; ')) {
        if (cookie.startsWith('username=')) {
          username = cookie.split('=')[1];
          console.log('expected username', username);
          for (const key in usersel.options) {
            if (usersel.options[key] && usersel.options[key].value == username) {
              usersel.options.selectedIndex = key;
              console.log('selected key', key);
              break;
            }
          }
          username = usersel.options.selectedIndex ? usersel.options[usersel.options.selectedIndex].value : null;
          console.log('selected username', username);
        }
      }

      const updateFns = {
        "default": {
          show: () => {
            video.hidden = false;
            if (!window.qrScanner) {
              window.qrScanner = new QrScanner(
                video,
                result => {
                  console.log('done?', done);
                  if (done) return;
                  if (!result.data) {
                    console.log('no data');
                    return;
                  }
                  {{extra_qr_processing}}
                  const username = usersel.options.selectedIndex ? usersel.options[usersel.options.selectedIndex].value : null;
                  const selofd = ofd.options.selectedIndex ? ofd.options[ofd.options.selectedIndex].value : null;
                  console.log('username', username);
                  if (username) {
                    done = true;
                    document.cookie = 'username=' + username;
                    console.log('decoded qr code:', result.data)
                    document.location = 'add?' + ((selofd && selofd != 'platforma-ofd') ? ('ofd=' + selofd + '&') : '') + result.data;
                  }
                }, {
                returnDetailedScanResult: true,
              },
              );
            }
            qrScanner.start();
          },
          hide: () => {
            if (window.qrScanner) qrScanner.stop();
            video.hidden = true;
          },
        },
        icom24: {
          show: () => icom24.hidden = false,
          hide: () => icom24.hidden = true,
        },
        custom: {
          show: username => {
            customTo.value = username;
            custom.hidden = false;
          },
          hide: () => custom.hidden = true,
        },
      };

      let updateCustomSum = () => customSum1.value = (customSum.value - 0) * 100;
      customSum.addEventListener('change', updateCustomSum);
      updateCustomSum();

      let updateComment = () => {
        customCommentList.innerHTML = "";
        if (customComment.value) {
          const items = f.find(customComment.value);
          for (let i = 0; i < items.length; i++) {
            const item = items[i].item.normalize();
            const entry = entries[items[i].item];
            /* <li><a href="javascript:void(0)">{item}</a></li> */
            const li = document.createElement('li');
            const a = document.createElement('a');
            a.href = "javascript:void(0)";
            a.addEventListener('click', () => {
              customComment.value = item;
              customSum.value = "" + (entry.last_price / 100);
              updateCustomSum();
            });
            a.appendChild(document.createTextNode(item));
            li.appendChild(a);
            customCommentList.appendChild(li);
          }
        }
      };
      customComment.addEventListener('input', updateComment);

      let update = () => {
        const username = usersel.options.selectedIndex ? usersel.options[usersel.options.selectedIndex].value : null;
        const selofd = ofd.options.selectedIndex ? ofd.options[ofd.options.selectedIndex].value : null;
        let target = "";
        if (username) target = Object.keys(updateFns).indexOf(selofd) >= 0 ? selofd : "default";
        for (let ofd in updateFns) {
          if (ofd == target) {
            updateFns[ofd].show(username);
          } else {
            updateFns[ofd].hide();
          }
        }
      };
      ofd.addEventListener('change', update);
      usersel.addEventListener('change', update);
      update();
    });
  </script>
</head>

<body>
  <form>
    <select id="username" required>
      <option>Выберите имя пользователя</option>
      {% for username in usernames %}
      <option value="{{ username | escape }}">{{ username | escape }}</option>
      {% endfor %}
    </select>
    <select id="ofd" required>
      <option value="">Авто</option>
      {% for ofd in ofds %}
      <option value="{{ ofd.id | escape }}">{{ ofd.name | escape }}</option>
      {% endfor %}
      <option value="custom">Добавить платёж вручную</option>
    </select>
  </form>
  <form id="icom24-form" method="get" action="/add" hidden>
    <p>
      <input name="ofd" value="icom24" hidden></input>
      <input type="text" name="code" id="icom24-code" placeholder="Код (6 шестнадцатеричных цифр)" style="width:20em"></input>
      <input type="date" name="date" id="icom24-date"></input>
      <input type="submit" value="Отправить"></input>
    </p>
  </form>
  <form id="custom-form" method="post" action="api/pay" hidden>
    <p>
      <div>
        <input name="response-format" value="html" hidden></input>
        <input id="custom-to" name="to" value="" hidden></input>
      </div>
      <div>
        <input type="text" name="comment" id="custom-comment" placeholder="Комментарий" style="width:20em"></input>
        <ul id="custom-comment-list"></ul>
      </div>
      <div>
        <input type="number" id="custom-sum" placeholder="Сумма" step="0.01"></input>
        <input name="amount" id="custom-sum1" hidden></input>
        {% for user in usernames %}
        <input
          type="checkbox"
          name="from_{{ user | escape }}"
          checked="true"
        >
          {{ user | escape }}
        </input>
        {% endfor %}
      </div>
      <div style="margin-top:1em">
        <input type="submit" value="Отправить"></input>
      </div>
    </p>
  </form>
  <video id="video" width="100%" height="100%" hidden></video>
</body>

</html>
